.data{
    /* border: 2px solid black; */
    display: block;
    /* display: inline-block; */
    justify-content: center;
    text-align: center;
    padding: 50px;
    margin: auto;
    width: 50%;
    padding-top: 150px;
}
h1{
    margin: 30px;
}
button{
    all: unset;
    /* justify-content: center; */
    text-align: center;
    color:white;
    background-color: orange;
    padding: 10px;
    margin: 20px;
    width: 118px;
    border-radius: 45px;
    /* position: relative; */
    /* right:-250px; */
    cursor: pointer;    
}
button:hover{
    color: black;
    background-color: rgb(183, 228, 203);
    box-shadow: -10px 10px 40px rgb(134 134 134);
}
